@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('../fonts/alfaslabone-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.home {

    display: block;
    width: fit-content;
    margin: 0 auto;

}

.titulo {
    font-family: "alfa_slab_oneregular", "Trebuchet MS", Verdana, serif;
    line-height: 0.9;
     font-size: min(max(2.5vw, 40px), 50px);
}

header p {

    max-width: 800px;
    margin: 0 auto;
    padding: 3px;
}

a:visited {
    color: #6f42c1;
  }
