@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('../fonts/alfaslabone-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.titulo {
    font-family: "alfa_slab_oneregular", "Trebuchet MS", Verdana, serif;
}

a:visited {
    color: #6f42c1;
  }
